body
{
    margin:0px;
    padding:0px;
}

header
{
  @extend body;

}

main
{
  @extend body;

}

footer
{
  @extend body;

}


#proximity
{
  border-top:1px solid black;
  border-bottom:1px solid black;
}
